// Generator header for {{instance_name}}
float32_t {{instance_name}}_freq;
float32_t {{instance_name}}_amp;
float32_t {{instance_name}}_offs;
float32_t {{instance_name}}_time;
float32_t {{instance_name}}_phase;
float32_t {{instance_name}}_output_f32;
