// Biquad filter header for {{blocktype}}_{{ blockID }}
arm_biquad_cascade_df2T_instance_f32 {{blocktype}}_{{ blockID }};
float32_t {{blocktype}}_{{ blockID }}_coeff[5];
float32_t {{blocktype}}_{{ blockID }}_state[4];