// Biquad filter header for {{blocktype}}_{{ blockID }}
arm_biquad_cascade_df2T_instance_f32 {{instance_name}};
float32_t {{instance_name}}_coeffs_af32[5];
float32_t {{instance_name}}_states_af32[4];
float32_t {{instance_name}}_output_f32;
